{% extends 'blog/base_blog.html' %}
{% block title %}
    Blog app
{% endblock %}

{% block content %}
    <h1 class="mb-5">Posts:</h1>
    {% for post in posts.object_list %}
        {% include 'blog/include/post_list_template.html' %}
    {% endfor %}
    <nav aria-label="Page navigation example" style="position: fixed; bottom: 0;" >
        <ul class="pagination">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'posts_list_url' %}?page={{ posts.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for i in posts.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="{% url 'posts_list_url' %}?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}
            {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'posts_list_url' %}?page={{ posts.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
